<h2>List of Users</h2>
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|  %>
      <tr>
        <td><%= link_to user.name, user_path(user.id) %></td>
        <td><%= user.votes %></td>
        <td><%= user.joined %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "View top media", root_path, class: "btn btn-secondary" %>
